/* Font */
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;500;800&display=swap");
/* Css Custom Variables */
:root {
  --main-color: #02457a;
  --second-color: #718096;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  text-decoration: none;
}
body {
  font-family: "Cairo", sans-serif;
}
a {
  text-decoration: none;
}

.mode-btn {
  position: absolute;
  top: 20px;
  right: 25px;
  font-size: 22px;
  cursor: pointer;
  z-index: 1000;
}

.profile-card {
  position: relative;
  height: 100vh;
  background-image: url(./images/bg.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgb(0, 0, 0, 0.55);
}
.container {
  position: relative;
  z-index: 100;
  width: 800px;
  border-radius: 10px;
  padding: 30px;
}
.container .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #e2e8f0;
  opacity: 0.8;
  border-radius: 10px;
  z-index: -1;
}
.container .img {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 200px;
  height: 200px;
  z-index: 100;
}
.container .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
}

.container .info {
  position: relative;
  z-index: 100;
}
.container .info h1 {
  font-size: 35px;
  width: 50%;
  margin-bottom: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--main-color);
}

.container .info p {
  font-size: 16px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.container .info p span {
  color: var(--second-color);
  flex: 1;
}
.container .info p:first-of-type span {
  color: #000;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: capitalize;
}
.container .info p:last-of-type {
  letter-spacing: 1.5px;
}
.container .info > p i {
  color: var(--main-color);
  padding-right: 15px;
}
.container .links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  position: relative;
  z-index: 100;
}

.container .links a {
  width: 40px;
  height: 40px;
  color: var(--second-color);
  transition: all 0.3s ease;
}

.container .links a:hover {
  color: var(--main-color);
}
.container .links a i {
  line-height: 40px;
  font-size: 40px;
}
@media (max-width: 767px) {
  .profile-card,
  .profile-card::after {
    height: 120vh;
  }
  .container {
    margin: 0 15px;
  }
  .container .img {
    position: relative;
    margin: 0 auto;
    width: 250px;
    height: 250px;
    right: auto;
    margin-bottom: 15px;
  }
  .container .info h1 {
    font-size: 30px;
  }
  .container .img img {
    border-radius: 50%;
  }
}

.active {
  color: #fff;
}
